.step {
    color: var(--white);
    width: 40px;
    height: 40px;
    font-size: 12px;
    background: rgba(32, 163, 82, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#completed {
    background-color: var(--green);
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.RSPBprogression {
    color: #02a82c;
}

.RSPBstep {
    width: 60px;
    height: 60px;
}

.progressbar {
    width: 300px;
}

.bar {
    width: 100%;
}
.RSPBprogressBar{
    width: 400px;
}