* {
    margin: 0;
    box-sizing: border-box;
}

/* ---------------- Navbar and burger menu ------------------ */
nav {
    width: 100vw;
    height: 5em;
    background: var(--dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* gap: 40px; */
    padding: 1em;
    overflow: hidden;
}

.burger-menu {
    height: 100%;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
}
.hamburger-title {
    font-family: var(--fontFamily);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    margin: auto;
}

.burger-bar {
    width: 4em;
    height: 0.5em;
    background-color: #FFFFFF;
    border-radius: 0.5em;
}

.menu {
    width: 70%;
    height: 100vh;
    /* height: 100vh; */
    background-color: var(--dark);
    position: fixed;
    top: 4.5em;
    left: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.admin-hamburger-title .eform-logo {
    height: 30px;
    width: 38px;
}
.admin-hamburger-title span {
    color: #fff;
    font-family: var(--fontFamily);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: justify;
    vertical-align: super;
}
.admin-hamburger-title .double-arrow {
    margin-left: 50px;
}
.admin-hamburger-title {
    padding-top: 25px;
    padding-bottom: 20px;
}
.hamburger-nav-links {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    padding: 5px;
}
.hamburger-nav-links > span {
    color: rgb(202, 201, 201);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    /* margin-top: 5px; */
}
.hamburger-icon-container {
    background-color: var(--green) !important;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: background-color 0.3s ease-in;
}
.hamburger-icon-container img {
    width: 20px;
    height: 20px;
}

.hamburger-logout-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    row-gap: 20px;
    padding-top: 30px;
    margin: 0 5px;
}
.hamburger-user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
.hamburger-user-profile img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.hamburger-user-profile > span {
    color: #fff;
    font-family: var(--fontFamily);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}
.hamburger-logout-button button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 218px;
    /* padding: 8px; */
    color: #ffffff;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    cursor: pointer;
}

/* ------------- sliding menu ------------------ */
.hidden {
    display: none;
}

.visible {
    display: inherit;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.75em, 1.25em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-0.5em, 1em);
    transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

@media (min-width: 768px) {
    admin-hamburger {
        display: none;
    }
}