.all-users {
    width: 100%;
    /* height: 100vh; */
    padding: 40px 60px 40px 23rem;
    background-color: var(--lightgrey);
}
.mobile-all-users {
    width: 100%;
}
.desktop-all-users {
    display: none;
}

@media (min-width: 768px) {
    .mobile-all-users {
        display: none;
    }
    .desktop-all-users {
        display: block;
        width: 100%;
    }
    .desktop-user-details table {
        margin-top: 30px;
        width: 100%;
        border-collapse: collapse;
    }
    .desktop-user-details > table th {
        text-align: left;
        padding: 20px;
        font-family: var(--fontFamily);
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: rgba(17, 17, 17, 0.7);
    }
    .desktop-user-details > table td {
        text-align: left;
        padding: 20px;
        font-family: var(--fontFamily);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: var(--textDark);
    }
    .desktop-user-details > table td > * {
        margin-bottom: 7px;
    }
    .desktop-user-details > table .state {
        background: #FFFFFF;
        border-radius: 10px;
        border-bottom: 10px solid var(--lightgrey);
        margin-bottom: 10px;
        border-left: 3px solid var(--green);
    }
    /* td {
        border: solid 1px #000;
        border-style: solid none;
        padding: 10px;
        background-color: cyan;
    } */
    td:first-child {
        /* border-left-style: solid; */
        border-top-left-radius: 10px; 
        border-bottom-left-radius: 10px;
    }
    
    td:last-child {
        /* border-right-style: solid; */
        border-bottom-right-radius: 10px; 
        border-top-right-radius: 10px; 
    }
}