.change-password {
    height: 100vh;
    width: 100%;
    background: var(--lightgrey);
}
.mobile-change-password {
    width: 100%;
}
.mobile-change-password .mobile-form-content {
    position: absolute;
    top: 7em;
    /* left: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}
.mobile-form-content .mobile-form {
    /* width: 543.55px; */
    height: 461px;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px 2px rgba(17, 17, 17, 0.25);
    border-radius: 10px;
}
.mobile-form form {
    padding: 70px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.mobile-form form > label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.mobile-form form > label > input {
    width: 250px;
    height: 54px;
    padding: 16px;
    margin-bottom: 30px;
    background: #E4E9F7;
    border: 1px solid rgba(17, 17, 17, 0.3);
    border-radius: 10px;
    outline: none;
}
.mobile-form form > label > b {
    font-family: var(--fontFamily);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--textDark);
}
.mobile-form form > button {
    width: 228px;
    height: 54px;
    background: linear-gradient(292.34deg, #20A352 66.13%, rgba(238, 249, 242, 0) 133.7%);
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    outline: none;
    border: none;
    color: #FFFFFF;
    font-family: var(--fontFamily);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    margin: auto;
}
.desktop-change-password {
    display: none;
}

@media (min-width: 768px) {
    .mobile-change-password {
        display: none;
    }
    .desktop-change-password {
        display: block;
        width: 100%;
        margin: auto;
        padding: 40px 60px 40px 23rem;
    }
    .desktop-change-password header {
        text-align: center;
    }
    header h3 {
        font-family: var(--fontFamily);
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        color: var(--textDark);
    }
    .desktop-change-password .desktop-form {
        width: 543.55px;
        height: 495px;
        background: #FFFFFF;
        box-shadow: 1px 1px 4px 2px rgba(17, 17, 17, 0.25);
        border-radius: 10px;
        margin: 70px auto auto auto;
    }
    .desktop-form form {
        padding: 70px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .desktop-form form > label {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .desktop-form form > label > input {
        width: 444.07px;
        height: 54px;
        padding: 16px;
        margin-bottom: 30px;
        background: #E4E9F7;
        border: 1px solid rgba(17, 17, 17, 0.3);
        border-radius: 10px;
        outline: none;
    }
    .desktop-form form > label > b {
        font-family: var(--fontFamily);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: var(--textDark);
    }
    .desktop-form form > button {
        width: 267px;
        height: 54px;
        background: linear-gradient(292.34deg, #20A352 66.13%, rgba(238, 249, 242, 0) 133.7%);
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
        border-radius: 10px;
        outline: none;
        border: none;
        color: #FFFFFF;
        font-family: var(--fontFamily);
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        cursor: pointer;
    }
}