.state-management {
    width: 100%;
    padding: 40px 60px 40px 23rem;
    background-color: var(--lightgrey);
    height: 100vh;
}
.mobile-state-management {
    width: 100%;
}
.desktop-state-management {
    display: none;
}

@media (min-width: 768px) {
    .mobile-state-management {
        display: none;
    }
    .desktop-state-management {
        display: block;
        width: 100%;
    }
    .desktop-add-button {
        margin-top: 50px;
    }
    .desktop-add-button button {
        width: 44px;
        height: 44px;
        background: linear-gradient(315deg, #20A352 68.18%, rgba(32, 163, 82, 0) 113.64%);
        border-radius: 10px;
        border: none;
        outline: none;
        color: #FFFFFF;
        font-size: 24px;
        line-height: 20px;
        font-family: var(--fontFamily);
        cursor: pointer;
    }
    .desktop-state-details table {
        margin-top: 30px;
        width: 100%;
        border-collapse: collapse;
    }
    .desktop-state-details > table th {
        text-align: left;
        padding: 20px;
        font-family: var(--fontFamily);
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: rgba(17, 17, 17, 0.7);
    }
    .desktop-state-details > table td {
        text-align: left;
        padding: 20px;
        font-family: var(--fontFamily);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: var(--textDark);
    }
    .desktop-state-details > table .state {
        background: #FFFFFF;
        border-radius: 10px;
        border-bottom: 10px solid var(--lightgrey);
        margin-bottom: 10px;
        border-left: 3px solid var(--green);
    }
}