.approv__cont {
  width: 100%;
  overflow-x: auto;
  border-radius: 10px;
}

table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  padding: 10px;
  text-align: left;
}

td {
  /* max-width: 500px; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

th {
  background-color: #eee;
}

td:first-child,
th:first-child {
  border-radius: 10px 0 0 0;
}

td:last-child,
th:last-child {
  border-radius: 0 10px 0 0;
}

/* secondary styling */
.tableHeader__sub {
  background-color: #d7d7d7;
}

.tableHeader__sub {
  background: white;
  font-weight: 600;
  font-size: 12px;
  color: rgb(17, 17, 17, 0.7);
}

.printBox {
  width: 56px;
  height: 40px;
  background: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
}

.approvPrinter {
  font-size: 14px;
}

.description {
  font-size: 14px;
  font-weight: 400;
}

.status {
  color: #20a452;
}
