.main1 {
  font-family: var(--fontFamily);
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  flex-direction: column;
  row-gap: 1rem;
  max-width: 100%;
  padding: 1rem 54px;
  gap: 50px;
}

.main--top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main--top > h1 {
  font-weight: 700;
  font-size: 28px;
  color: #111111;
}

.main--bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

@media screen and (max-width: 900px) {
  .main--bottom {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .main1 {
    padding: 2rem 1rem;
  }
}

/* @media screen and (max-width: 900px) {
  .main--header {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
  }

  .main--top-first {
    width: 100%;
  }

  .main--top-inner {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .main--bottom {
    flex-direction: column;
    row-gap: 2rem;
    padding: 2rem 0;
  }

  .main--header {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
  }

  .main--top-first {
    width: 100%;
  }

  .main--top-inner {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .main--bottom {
    flex-direction: column;
    row-gap: 2rem;
    padding: 2rem 0;
  }
}




*/
