.btn {
    max-width: 100px;
    padding: 4px 25px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: normal;
}

.btn--success {
    background-color: var(--green);
    color: var(--white);
    border: none;
}

.btn--outline {
    background-color: blue;
    color: var(--green);
    padding: 8px 20px;
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 2px 8px;
}

.btn--mobile {
    text-align: center;
    border-radius: 10px;
    width: 80%;
    text-decoration: none;
    font-size: 24px;
    transition: all 0.3s ease-out;
}

.green {
    background-color: var(--green);
    color: #ffff;
    border: none;
}

.transparent {
    background-color: var(--transparent);
    color: green;
    border: none;
}
/*
.lgBtn {
   background-color: #20A352;
   color: #ffff;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 15px 30px;
   border: none;
   border-radius: 10px;
   font-size: 20px;
   font-weight: 400;
   line-height: 24.2px;
   cursor: pointer;
}

.lgtransparent {
    background-color: #ffffff;
   color: var(--textDark);
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 15px 30px;
   border: none;
   border-radius: 10px;
   font-size: 16px;
   font-weight: 500;
   line-height: 24.2px;
   cursor: pointer;
   border: 1px solid #20A352;
   border-radius: 10px;
}

.mdBtn {
    background-color: #20A352;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    cursor: pointer;
}

.nakedBtn {
    color: #20A352;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    border: none;
    margin: auto 1rem;
    background: transparent;
}
*/