.dashboard {
    background-color: var(--lightgrey);
    min-height: 100vh;
}
.main-container {  
    display: grid;
    grid-template-columns: 0.6fr 1.3fr 0.9fr;
    grid-template-rows: 1.1fr 1.1fr 1.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "main main main"
      "main main main"
      "main main main";
    padding-left: 15em;

  }
  
  .main { 
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: flex-start;
    grid-area: main;
    margin: 20px;
    padding-left: 10%;
    background-color: var(--lightgrey);
    /* margin: 30px 50px; */
}

.dashboard-header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 100px;
}

.dashboard-header > span {
    font-weight: 600;
    font-size: 28px;
    color: #111111;
    visibility: hidden;
}
.dashboard-header > div >button {
    background-color: var(--green);
    color: white;
    border-radius: 10px;
    padding: 10px 30px;
    font-weight: 400;
    font-size: 16px;
    margin-right: 20px;
    border: none;
}

.dashboard-header > div > input {
    padding: 10px 25px;
    border-radius: 12px;
    border: none;
    outline: none;
}
.dashboard-details {
    width: 100%;
    margin-top: 50px;
    scrollbar-width: none;
}
::-webkit-scrollbar {
    display: none;
  } 
.overviews {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 50px;
}

.overview-container > div {
    display: flex;
}
.overview-container > div > img {
    width: 30px;

}
.overviews > span {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.overviews > div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
}
.overviews > div > div {
    width: 200px;
}
.total-documents {
    display: flex;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 30px 30px 30px 20px; 
    gap: 20px;
}
.total-documents > span {
    text-align: center;
}
.pending {
    display: flex;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 30px 30px 30px 20px; 
    gap: 20px;
}
.pending > span {
    text-align: center;
}
.completed {
    display: flex;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 30px 30px 30px 20px;  
    gap: 20px;
}
.completed > span {
    text-align: center;
}
.rejected {
    display: flex;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 30px 30px 30px 20px; 
    gap: 20px;
}
.rejected > span {
    text-align: center;
}
.total-documents-details{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.total-documents-details > span {
    text-align: center;
    font-weight: bold;
}
.total-documents-details > ul {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.total-documents-details > ul > li {
    list-style-type: none;
    text-align: center;
    width: 100%;
}
.dashboard-items > li {
    display: flex;
    width: 20%;
    align-items: center;
    padding: 7px;
    border-radius: 0px 10px 10px 0px;
    background-color: white;
}

.dashboard-items > li >span {
    width: 20%;
    text-align: center;
}
.pending-items {
    border-left: 5px solid var(--gold);
}
.completed-items {
    border-left: 5px solid var(--green);
}
.rejected-items {
    border-left: 5px solid var(--red);
}
.initial-display {
    display: none;
}

    /***********
 * Media Query just for the dashboard DON'T TOUCH */
@media screen and (min-width: 768px) {
    .main-container {
        overflow: auto;
    }
    
    .dashboard-header > span {
        visibility: visible;
    }
    
    /* .sidebar {
        position: absolute;
    } */
    
 }

/* Medium Screens */


/* Mobile Screen */
@media screen  and (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .main-container {  display: grid;
        grid-template-columns: 0.8fr 1.3fr 0.9fr;
        grid-template-rows: 1.1fr 1.1fr 1.1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "main main main"
          "main main main"
          "main main main";
        padding-left: 0;
      }
      
      
      .main { 
        display: flex;
        align-self: flex-start;
        align-items: flex-start;
        justify-content: flex-start;
        grid-area: main;    
        padding-top: 32px;
        background-color: var(--lightgrey);
        margin: 0;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .overviews {
        width: 100vw;
        align-items: center;
    }
    .overviews > div > div {
        width: 100%;
    }
    .overviews > div {
        flex-direction: column;
        
        width: max-content;
    }
    .dashboard-header {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .dashboard-header > * {
        width: 60%;
        margin-top: 10px;
    }
    .dashboard-header > button {
        margin-right: 0;
    }
    
    .dashboard-details {
        display: flex;
        flex-direction: row;
        justify-content: center;
        overflow: scroll;
    }

    .total-documents-details {
        margin: 20px;
        word-wrap: normal;
        flex-wrap: nowrap;
        width: max-content;
    }
    .total-documents-details >  span {
        width: 300%;
    }
    .total-documents-details >  ul {
        width: 300%;
    }
    .dashboard-items {
        flex-wrap: nowrap;
        width: max-content;
        overflow-x: scroll;
    }
    
}