.biggerBox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.bigBox {
    flex: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: #ffffff;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;    
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #ffffff;
    background-color: var(--green);
}

.bigBox--text {
    margin-top: 10px;
}

/* Document.js */
.circle--icon {
    height: 50px;
    width: 50px;
}


/* COURT BOX */
.smallBox {
    display: flex;
    gap: 20px;
}

.sBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 85px;
    background-color: var(--white);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.iconions {
    height: 50px;
    width: 50px;
    color: var(--green);
}

.iconions2 {
    height: 50px;
    width: 50px;
    color: var(--green);
}

.sBox2{
 display: flex;
 align-items: center;
}

.smalle {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.smallBox {
    flex: 0 0 30%;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.bigBox--text {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .biggerBox {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }
    
    .bigBox {
        flex: 45%;
        height: 136px;
    }

    .circle {
        width: 60px;
        height: 60px;
    }

    .circle--icon {
        width: 30px;
        height: 30px;    
    }

    .bigBox--text{
        font-size: 16px;
        font-weight: 500;
        line-height: 19.36px;
    }

    .sBox {
        height: 50px;
        width: 40%;
    }

    .sBox2 {
        width: 60%;
        height: inherit;
    }

    .iconions2 {
        width: 25px;
        height: 25px;
    }
    .sBox2 > span, .sBox2 > p {
        font-size: 14px;
        font-weight: 500;
    }

    .smalle {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .smallBox {
        flex: 0 0 45%;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}

@media screen and (max-width: 468px) {
    
    .bigBox{
        width: 100%;
    }
}