.sharedLayout {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.dashboard,
.pendingApplication,
.commission,
.approvedAffidavit,
.addCommissionOath {
  flex: auto;
  margin-left: 270px;
  overflow: hidden;
  background-color: #d7d7d7;
}

.menuSideButton-times,
.menuSideButton-bars {
  display: none;
}
/* @media screen and (max-width: 900px) {
  .dashboard {
    left: 0;
  }
} */

@media screen and (max-width: 900px) {
  .sideBBar {
    display: none;
  }

  .dashboard,
  .pendingApplication,
  .commission,
  .approvedAffidavit,
  .addCommissionOath {
    margin-left: 0;
    width: 100%;
  }

  .menuSideButton-bars,
  .menuSideButton-times {
    display: block;
    position: absolute;
    font-size: 30px;
    top: 20px;
    left: 30px;
    z-index: 5;
    color: white;
    cursor: pointer;
    transition: 0.5s ease;
  }
}
