.basicinfo__body {
    background-color: var(--white);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 10px;
}

input {
    padding: 10px;
    height: 54px;
    background: #E4E9F7;
    border-radius: 10px;
    border: 1px solid rgba(17, 17, 17, 0.3);

}

.btn {
    width: 100%;
}

.box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.fullInput {
    width: 100%;
}

.box2 {
    display: flex;
    width: 100%;
    gap: 2rem;
}

.states {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.lga {
    display: flex;
    flex-direction: column;
    width: 50%;
}

label {
    font-size: 16px;
    font-weight: 400;
    margin: 0.3rem;
}

.selectInput {
    height: 54px;
    background: #E4E9F7;
    border-radius: 10px;
    outline: none;
}

@media screen and (max-width: 768px) {
    .halfInput {
        width: 100%;
    }

    .states {
        width: 100%;
    }

    .lga {
        width: 100%;
    }
}