:root {
    --dark: #263238;
    --green: #20A352;  
    --fontFamily: 'Inter', sans-serif;
    --textDark: #1111111;
<<<<<<< HEAD
<<<<<<< HEAD
    --light: #F7F7F7;
    --gold: #B5B500;
    --red: #EE4D1D;

<<<<<<< HEAD
>>>>>>> ea36324 (Made changes on the ui)
<<<<<<< HEAD
=======
    --light: #F7F7F7;
    --gold: #B5B500;
    --red: #EE4D1D;
>>>>>>> 97c5236 (fixed the dashboard)
=======
>>>>>>> 89c4c84 (updated pages)
=======
    --bgDark: #263238;
>>>>>>> aa9229e (ay thursday update)
}