.mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fontFamily);
    padding: 3rem 54px;
    flex-direction: column;
    background-color: #fff;
    gap: 3rem;
}

.mainContent--title {
    max-width: 821px;
    text-align: center;
    font-size: 32px;
    line-height: 39px;
    font-weight: 700;
}

.mainContent--1 {
    width: 741px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon--circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--green);
}

.icon--cont {
    display: flex;
    flex-direction: column;
}

.inner--icon {
    display: flex;
    color: #ffff;
    width: 50px;
    height: 50px;
}

.icon--line {
    width: 200px;
    height: 2px;
    color: var(--green);
    background-color: var(--green);
}

.icon--text {
    margin-top: 0.5rem;
}

/* FEATURE BOX */

.featureBox {
    width: 100%;
    padding: 2rem 54px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.featureBox--content {
    gap: 20px;
}

.featureBox--title {
    text-align: center;
    margin: 1rem 0;
}

/* Court Section */
.court {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.court--title {
    max-width: 550px; 
    font-weight: 700;
    font-size: 32px;
    line-height: 39px; 
}
                          
.court--content1 {
     width: 391px;
    display: flex;
    gap: 1rem;
}

.court--content2 {
    display: flex;
    width: 100%;
    align-items: center; 
    justify-content: center;
}

.selectButt {
    width: 70%;
}

.proceedBtn {
    width: 30%;
}

@media screen and (max-width: 768px) {

    .mainContent {
        padding: 3rem 1rem;
        gap: 2rem;
    }

    .mainContent--title {

        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        text-align: center;
        color: var(--textDark);
    }

    .mainContent--1 {
        width: 100%;
        flex-direction: column;
        height: 500px;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .icon--cont {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 10px;
    }

    .icon--circle {
        width: 100px;
        height: 100px;
        
    }
    .icon--text {
        display:flex;
        width: 50%;
        align-items: center;
    }

    .icon--line {
        position: relative;
        right: 17%;
        height: 100px;
        width: 2px;
        justify-content: flex-start;
    }

    .featureBox {
        width: 100%;
        padding: 2rem 1rem;
    }
    .featureBox--content {
        grid-template-columns: auto auto;
    }

    .featureBox--content {
        width: 100%;
    }

    /* COURT SECTION */

    .court--title {
        width: 100%;
        min-width: 330px;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
    }

    .court--content1 {
        width: 100%;
    }

    .selectButt {
        width: 70%;
    }

    .proceedBtn {
        width: 30%;
    }
    .court--content2 {
        width: 100%;
    }


}